.homepage {   
    &__main {
        width: 100%;
        height: 100;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }
    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    &__header {
        font-size: 64px;
    }
    &__login-signup-option {
        display: flex;
        flex-direction: row;
        gap: 180px;
        font-size: 24px;
        

    }
    &__option {
        cursor: pointer;
        &-active {
            text-decoration: underline;
        }
    }
}